@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.circle-with-arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-with-arrow::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 9rem; /* Adjust size as needed */
  height: 9rem;
  transform: translate(25%, 10%);
  background-color: #000; /* Adjust color as needed */
  border-radius: 100%;
}

.circle-with-arrow::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(20%, 0%);
  width: 7rem; /* Adjust size as needed */
  height: 7rem; /* Adjust size as needed */
  background-color: #f42f2f; /* Adjust color as needed */
  border-radius: 100%;
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  transform: translate(0, -35%);
  z-index: 20;
  outline: .5px;
}
